<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="/static/vue-material/vue-material.min.css">
    <link rel="stylesheet" href="/static/vue-material/theme/default.css">

    <style>
        body {
            width: 100%;
            height: 100%;
        }

        #app {
            width: 100%;
            height: 100%;
        }

        .md-app {
            width: 100%;
            height: 100%;
        }

        .message-subject {
            font-weight: 500;
            color: #000000cc;
        }

        .message-preview {
            color: #000000b3;
        }

        .html-content {

        }

        .md-dialog-container {
            width: 100%;
        }
    </style>

</head>

<body>
{% raw %}
<div id="app">
    <md-app>
        <md-app-toolbar class="md-primary md-dense">
            <h3 class="md-title" style="flex: 1">Messages ({{ messagesCount }})</h3>
            <md-button @click="sendTestEmail" v-if="isDeveloperMode">Send test email</md-button>
            <md-button @click="refresh">Refresh</md-button>
        </md-app-toolbar>

        <md-app-content>
            <md-table v-model="messages" @md-selected="onSelect">
                <md-table-empty-state
                        md-label="No messages"
                        :md-description="`There are no messages yet, try to send something to ${smtpHost}:${ this.smtpPort }`">
                </md-table-empty-state>

                <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
                    <md-table-cell md-label="Recipient">{{ item.to }}</md-table-cell>
                    <md-table-cell md-label="Message">
                        <span class="message-subject">{{ item.subject }}</span>
                        <span class="message-preview">- {{ getBodyPreview(item) }}
                            </span>
                    </md-table-cell>
                    <md-table-cell md-label="Date">{{ item.date.format("HH:mm") }}
                    </md-table-cell>
                </md-table-row>
            </md-table>
        </md-app-content>

    </md-app>

    <md-dialog :md-active.sync="showSelected">
        <md-dialog-title>Email content</md-dialog-title>
        <md-dialog-content>

            <md-tabs md-dynamic-height v-if="selected !== null">
                <md-tab md-label="Html">
                    <span class="md-body-2">{{ selected.subject }}</span>

                    <div class="html-content">
                        <span v-html="selected.html"></span>
                    </div>
                </md-tab>

                <md-tab md-label="Text" v-if="selected !== null">
                    <span class="md-body-2">{{ selected.subject }}</span>

                    <pre>{{ selected.text }}</pre>
                </md-tab>
            </md-tabs>

            <md-dialog-actions>
                <md-button class="md-primary" @click="resetSelection">Close</md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </md-dialog>
</div>
{% endraw %}

<script src="/static/moment/moment-with-locales.min.js"></script>
<script src="/static/vue/vue.min.js"></script>
<script src="/static/vue-material/vue-material.min.js"></script>
<script>
    var smtpHost = {{ smtp_host|tojson }};
    var smtpPort = {{ smtp_port|tojson }};
    var messages = {{ messages|tojson }};
    var develop = {{ develop|tojson }};

    Vue.use(VueMaterial.default);

    new Vue({
        el: '#app',
        data: function () {
            return {
                messages: [],
                smtpHost: window.smtpHost,
                smtpPort: window.smtpPort,
                selected: null,
                showSelected: false,
                isDeveloperMode: window.develop,
            }
        },
        methods: {
            loadMessages() {
                var that = this;

                fetch('/messages').then(function (response) {
                    var contentType = response.headers.get("content-type");
                    if (contentType && contentType.includes("application/json")) {
                        return response.json();
                    }
                    throw new TypeError("Invalid response:" + response);
                })
                    .then(function (json) {
                        that.messages = that.transformLoadedMessages(json);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            refresh() {
                this.loadMessages();
            },
            sendTestEmail() {
                // get :)
                fetch('/send-test-email')
            },
            getBodyPreview(item) {
                return item.clean_text.slice(0, 130) + '...';
            },
            onSelect(item) {
                if (!item) {
                    return
                }

                this.selected = Object.assign({}, item);
                this.showSelected = true;
            },
            resetSelection() {
                this.selected = null;
                this.showSelected = false;
            },
            transformLoadedMessage(message) {
                message.date = moment.utc(message.date);
                return message;
            },
            transformLoadedMessages(messages) {
                var results = [];
                for (var i = 0; i < messages.length; i++) {
                    var item = messages[i];
                    results.push(this.transformLoadedMessage(item))
                }
                return results;
            },
        },
        computed: {
            messagesCount() {
                return this.messages.length;
            }
        },
        mounted() {
            that = this;
            this.messages = this.transformLoadedMessages(window.messages);

            var socket = new WebSocket("ws://" + window.location.host + "/ws");
            socket.onclose = function (event) {
                console.log('Websocket connection closed: code: ' + event.code + ' reason: ' + event.reason);
            };

            socket.onmessage = function (event) {
                var payload = JSON.parse(event.data);
                that.messages.unshift(that.transformLoadedMessage(payload))
            };

            socket.onerror = function (error) {
                console.error("Websocket error: " + error.message);
            };
        }
    })
</script>
</body>
</html>
