<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="/static/vue-material/vue-material.min.css">
    <link rel="stylesheet" href="/static/vue-material/theme/default.css">

    <style>
        body {
            width: 100%;
            height: 100%;
        }

        #app {
            width: 100%;
            height: 100%;
        }

        .md-app {
            width: 100%;
            height: 100%;
        }

        .sender {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .sender__name {
            flex: 1;
        }

        .sender__date {
            width: auto;
        }

        .md-tab {
            overflow: scroll !important;
        }

        .md-tabs-navigation {
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }

        .md-drawer {
            width: 100%;
            max-width: 100%;
        }

        @media (min-width: 601px) {
            .md-drawer {
                width: 400px;
            }
        }
    </style>

</head>

<body>
{% raw %}
<div id="app">
    <md-app md-scrollbar="false">
        <md-app-toolbar class="md-primary md-dense" md-elevation="4">
            <md-button class="md-icon-button" @click="toggleMenu" v-if="!menuVisible">
                <md-icon>menu</md-icon>
            </md-button>
            <div class="md-toolbar-section-start">
                <h3 class="md-title" v-if="selected">{{ selected.subject }}</h3>
            </div>
            <div class="md-toolbar-section-end">
                <md-button @click="refresh">Refresh</md-button>
                <md-button @click="clearAll">Clear all</md-button>
            </div>
        </md-app-toolbar>

        <md-app-drawer :md-active.sync="menuVisible" md-persistent="full" v-if="hasMessages">
            <md-toolbar class="md-transparent md-dense" md-elevation="0">
                <span class="md-subheading">
                    Messages ({{ messagesCount }})
                </span>
                <div class="md-toolbar-section-end" v-if="!isDesktop()">
                    <md-button class="md-icon-button md-dense" @click="toggleMenu">
                        <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-list class="md-double-line md-dense message-list">
                <template v-for="message in orderedMessages">
                    <md-list-item @click="onSelect(message)">
                        <div class="md-list-item-text">
                            <div class="sender">
                                <span class="sender__name">{{ message.to }}</span>
                                <span class="sender__date md-caption">{{ message.date.format("HH:mm") }}</span>
                            </div>
                            <span>{{ message.subject }}</span>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                </template>
            </md-list>
        </md-app-drawer>

        <md-app-content>
            <template v-if="!hasMessages">
                <template v-if="loading">
                    <md-empty-state
                            md-label="Loading messages">
                        <md-progress-spinner v-if="loading" class="md-accent"
                                             md-mode="indeterminate"></md-progress-spinner>
                    </md-empty-state>
                </template>
                <md-empty-state v-else
                                md-label="No messages"
                                :md-description="`There are no messages yet, try to send something to ${smtpHost}:${ this.smtpPort }`">
                </md-empty-state>
            </template>
            <template v-else>

                <md-progress-bar class="md-accent" v-if="loadingMessage" md-mode="indeterminate"></md-progress-bar>
                <md-content class="message-content" v-if="selected">
                    <md-tabs md-alignment="left">
                        <md-tab id="tab-home" md-label="HTML">
                            <div v-html="selected.html"></div>
                        </md-tab>
                        <md-tab id="tab-pages" md-label="Text">
                            <pre>{{ selected.text }}</pre>
                        </md-tab>
                        <md-tab id="tab-posts" md-label="Headers">
                            <ul v-for="(value, propertyName) in selected.headers">
                                <li><strong>{{ propertyName }}</strong>: {{ value }}</li>
                            </ul>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </template>
        </md-app-content>

    </md-app>

</div>
{% endraw %}

<script src="/static/moment/moment-with-locales.min.js"></script>
<script src="/static/vue/vue.min.js"></script>
<script src="/static/vue-material/vue-material.min.js"></script>
<script>
    var smtpHost = {{ smtp_host|tojson }};
    var smtpPort = {{ smtp_port|tojson }};
    var messages = {{ messages|safe }};
    var develop = {{ develop|tojson }};

    async function postData(url = '', data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *client
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return await response.json(); // parses JSON response into native JavaScript objects
    }

    Vue.use(VueMaterial.default);

    new Vue({
        el: '#app',
        data: function () {
            return {
                messages: [],
                smtpHost: window.smtpHost,
                smtpPort: window.smtpPort,
                selected: null,
                isDeveloperMode: window.develop,
                loading: true,
                loadingMessage: false,
                menuVisible: true
            }
        },
        methods: {
            loadMessages() {
                var that = this;
                this.loading = true;

                fetch('/messages').then(function (response) {
                    var contentType = response.headers.get("content-type");
                    if (contentType && contentType.includes("application/json")) {
                        that.loading = false;
                        return response.json();
                    }
                    this.loading = false;
                    throw new TypeError("Invalid response:" + response);
                })
                    .then(function (json) {
                        that.messages = that.transformLoadedMessages(json);
                        that.loading = false;
                    })
                    .catch(function (error) {
                        console.error(error);
                        that.loading = false;
                    });
            },
            toggleMenu() {
                this.menuVisible = !this.menuVisible
            },
            refresh() {
                this.loadMessages();
            },
            clearAll() {
                postData('/commands/clear_all', {})
                    .then(() => window.location.reload())
                    .catch(function (error) {
                        console.error(error);
                        this.selected = null;
                    });
            },
            onSelect(message) {
                if (!message) {
                    return
                }

                this.loadingMessage = true;

                fetch('/message?message-id=' + message.local_message_id).then(function (response) {
                    var contentType = response.headers.get("content-type");
                    if (contentType && contentType.includes("application/json")) {
                        that.loadingMessage = false;
                        return response.json();
                    }
                    this.loadingMessage = false;
                    throw new TypeError("Invalid response:" + response);
                })
                    .then(function (json) {
                        that.selected = Object.assign({}, json);
                        that.loadingMessage = false;
                        if (!that.isDesktop()) {
                            that.toggleMenu();
                        }
                    })
                    .catch(function (error) {
                        console.error(error);
                        that.loadingMessage = false;
                    });

            },
            resetSelection() {
                this.selected = null;
            },
            transformLoadedMessage(message) {
                message.date = moment.utc(message.date);
                return message;
            },
            transformLoadedMessages(messages) {
                var results = [];
                for (var i = 0; i < messages.length; i++) {
                    var item = messages[i];
                    results.push(this.transformLoadedMessage(item))
                }
                return results;
            },
            isDesktop() {
                return (window.innerWidth >= 1279);
            }
        },
        computed: {
            messagesCount() {
                return this.messages.length;
            },
            orderedMessages() {
                return this.messages.sort(function (a, b) {
                    return b.date - a.date;
                });
            },
            hasMessages() {
                return this.messages.length > 0;
            }
        },
        mounted() {
            that = this;
            this.messages = this.transformLoadedMessages(window.messages);
            this.loading = false;

            var socket = new WebSocket("ws://" + window.location.host + "/ws");
            socket.onclose = function (event) {
                console.log('Websocket connection closed: code: ' + event.code + ' reason: ' + event.reason);
            };

            socket.onmessage = function (event) {
                var payload = JSON.parse(event.data);
                that.messages.unshift(that.transformLoadedMessage(payload))
            };

            socket.onerror = function (error) {
                console.error("Websocket error: " + error.message);
            };
        }
    })
</script>
</body>
</html>
